---
import Hero from './Hero.astro';
import About from './About.astro';
import Services from './Services.astro';
import Process from './Process.astro';
import Works from './Works.astro';
import CTA from './CTA.astro';
import Pricing from './Pricing.astro';
// import Clients from './Clients.astro';
---

<main class="HomePage">
    <Hero />
    <About />
    <Services />
    <Process />
    <Works />
    <Pricing />
    <CTA />
    <!-- <Clients /> -->
</main>