---
import Hero from './Hero.astro';
import About from './About.astro';
import Services from './Services.astro';
import Process from './Process.astro';
// import Clients from './Clients.astro';
---

<main class="HomePage">
    <Hero />
    <About />
    <Services />
    <Process />
    <!-- <Clients /> -->
</main>