---
import { AppConfig } from "../../data/app.config";
---

<section class="Pricing">
    <div class="container-fluid">
        <div class="section-header">
            <h2>Flexible Pricing Models</h2>
        </div>

        <div class="content">
            <p class="section-header-desc">No surprise invoices. No scope creep. Just honest pricing for the work you need.</p>

            <div class="pricing-cards">
                <div class="pricing">
                    <p class="package">Essentials</p>
                    <p class="price">
                        <span>From</span>
                        <span>Ksh. 25,000 <span>(one-time payment)</span></span>
                    </p>
                    <p class="description">Company website development</p>

                    <ul>
                        <li><span>✓</span> 4 core pages (Home, about, services / products, contact)</li>
                        <li><span>✓</span> Responsive Website</li>
                        <li><span>✓</span> Hosting setup</li>
                        <li><span>✓</span> 2 - 3 days delivery time</li>
                        <li><span>✓</span> 30 days free post-launch support</li>
                    </ul>

                    <a href={AppConfig.whatsappScheduleCallEssentialsPackage} class="action">Schedule a call</a>
                </div>

                <div class="pricing">
                    <p class="package">Growth <span>Most Popular</span></p>
                    <p class="price">
                        <span>From</span>
                        <span>Ksh. 35,000 <span>(one-time payment)</span></span>
                    </p>
                    <p class="description">Custom Software for businesses ready to scale.</p>

                    <ul>
                        <li><span>✓</span> MVPs, e-commerce, dashboard or management system</li>
                        <li><span>✓</span> Hosting set up</li>
                        <li><span>✓</span> Admin Panel with an analytics dashboard</li>
                        <li><span>✓</span> 2 - 4 weeks delivery time</li>
                        <li><span>✓</span> 30 days free post launch support</li>
                    </ul>

                    <a href={AppConfig.whatsappScheduleCallGrowthPackage} class="action">Schedule a call</a>
                </div>

                <div class="pricing">
                    <p class="package">Enterprise</p>
                    <p class="price">
                        <span>From</span>
                        <span>Ksh. 15,000 <span>/ month</span></span>
                    </p>
                    <p class="description">Monthly retainer fee for established companies in need of a dedicated technical partner long-term.</p>

                    <ul>
                        <li><span>✓</span> Dedicated development team</li>
                        <li><span>✓</span> Unlimited features & iterations</li>
                        <li><span>✓</span> Priority response times</li>
                        <li><span>✓</span> Architecture consulting</li>
                        <li><span>✓</span> Monthly strategy reviews</li>
                    </ul>

                    <a href={AppConfig.whatsappScheduleCallEnterprisePackage} class="action">Schedule a call</a>
                </div>
            </div>
        </div>
    </div>
</section>