---
import { AppConfig } from "../../data/app.config";
---

<section class="Process">
    <div class="container-fluid">
        <div class="section-header">
            <h2>How we work</h2>
        </div>

        <div class="content">
            <p class="section-header-desc">No vague timelines. No disappearing after kickoffs. No invoices for work you didn't agree to. Here's exactly how a project runs.</p>

            <div class="process-steps">
                {AppConfig.processes.map((process) => (
                    <div class="step">
                        <p>{process.label}</p>
                        <p>{process.name}</p>
                        <p>{process.description}</p>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>