<section class="Stats">
    <div class="container-fluid">
        <div class="stats">
            <div class="stat">
                <span>5+</span>
                <span>Years Experience</span>
            </div>

            <div class="stat">
                <span>20+</span>
                <span>Projects Shipped</span>
            </div>

            <div class="stat">
                <span>98%</span>
                <span>Client Satisfaction</span>
            </div>

            <div class="stat">
                <span>3X</span>
                <span>Avg. Client ROI</span>
            </div>
        </div>
    </div>
</section>