---
import { AppConfig } from "../../data/app.config";
---

<section class="Hero">
    <div class="container-fluid">
        <div class="page-header">
            <h1>About Alsuwa</h1>
            <p>Alsuwa has helped lauch over {AppConfig.stats.projects} projects which include company websites, ecommerce, MIS and brand strategies for both local and global brands. Every growth infrastructure we provide is crafted to be user friendly, seemless and functional.</p>
        </div>
    </div>
</section>