---
import Hero from './Hero.astro';
import MissionVision from './Mission-Vision.astro';
import Stats from '../HomePage/Stats.astro';
import Location from './Location.astro';
---

<main class="AboutPage">
    <Hero />    
    <MissionVision />
    <Stats />
    <Location />
</main>